body {
  background: black; 
  text-transform: uppercase;
}
.item-title{
	color: black;
}
.navbar-inner{
	background-color: darkgreen;
	color: violet;
	text-align: center;
}

button{
	color: red;
	font-size: 50px;
	width: 100px;
}

input{
	font-size: 17px;
}

.text{
	font-size: 20px;
	font-family: 'Brodway';
}

ul li{
	font-size: 20px;
	color:white;
}

.imCustomClass{
	text-decoration: underline;
	color:yellow;
}


.btn-back{
	color: blue;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    width: 100px;


ul{
	list-style: none !important;
}

ul li{
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background: #f00;
    color: #fff;
    width: 100px;
    margin-bottom: 7px;
}

ul li:hover{
    background: blue;
}


ul li a{
    color: #fff;
}
